@model WebshopTemplate.ViewModels.Products.ProductOverviewViewModel_Default;

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All products</h1>
<div class="row">
    <div class="col-md-3 border-right">
        <p>Brand</p>
        <ul class="list-unstyled">
            @foreach(KeyValuePair<Brand, int> brand in Model.Filter.Brands)
            {
                <li>
                    <a class="nav-link" asp-controller="Products" asp-action="Index" asp-route-Brand="@brand.Key.Name">@brand.Key.Name (@brand.Value)</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <ul class="list-unstyled row">
            @foreach(Product product in Model.Products)
            {
                <li class="col-md-3">
                    <div class="productcard text-center border rounded">
                        <a class="productcard" asp-action="Details" asp-route-id="@product.Id" />
                        <img src="~/@product.Images[0].Path" style="width:100px;height:100px;"/>
                        <p>@product.Name</p>
                        <div class="row">
                            <div class="col-md-6">@product.Price</div>
                            <div class="col-md-6">
                                <form method="post" asp-controller="Cart" asp-action="AddProduct">
                                    <input type="hidden" value="@product.Id" name="id"/>
                                    <input type="hidden" value="1" name="amount" />
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart nav-link text-dark"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>